<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SensorRF24 NetworkMap</title>

<body>
<div id="table_div"></div>

<style type="text/css">
    body {
        background-color: #ddd;
        margin: 0;
        padding: 0;
    }

    #table_div {
        height: 100%;
        width: 100%;
        display: table;
    }
</style>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script type='text/javascript'>
    var chart;
    var data;

    google.load('visualization', '1', {packages: ['orgchart']});
    google.setOnLoadCallback(initChart);

    function displayData(sensorData) {

        if (data.getNumberOfRows()) {
            data.removeRows(0, 255);
        }
        data.addRows(sensorData);
        chart.draw(data, options);
    }

    function loadData() {

        var networkMap = [];
        var channel_id = window.parent.location.pathname.match(/\d+/g);
        $.getJSON(window.location.origin +'/lastmap.json', function (data) {
            var master;
            var nodes;
            if (data != null) { // Check that there is some data in this feed
                if (data.master != null) {
                    master = data.master;
                }
                if (data.nodes != null) {
                    nodes = data.nodes;
                }
            }

            networkMap.push([{
                v: master.address,
                f: 'Master\nNode Id: ' + master.id + '\nAddress: ' + master.address  + '\nIP Address: ' + master.ipAddress
            }, '', 'Node Id: ' + master.id + '\nAddress: ' + master.address + '\nIP Address: ' + master.ipAddress]);

            if (nodes != null && nodes.length >= 1) {
                for (var index = 0; index < nodes.length; ++index) {
                    var node = nodes[index];
                    // Determine the parent for this node: example node 043 has parent 03. node 0125 has parent 025
                    var parent = node.address.substring(2, node.address.length);
                    parent = "0" + parent;
                    if (parent.length == 1) {
                        parent = "0" + parent;
                    }

                    node.parent = parent;
                    node.act = node.act ? 'Yes' : 'No';

                    networkMap.push([{
                        v: node.address,
                        f: 'Node Id: ' + node.id + '\nAddress: ' + node.address +  '\nIP Address: ' + node.ipAddress + '<br><div><span>Alive: </span><span style="color:red; font-weight:bold">' + node.act + '</span></div>'
                    }, node.parent, 'Node Id: ' + node.id + '\nAddress: ' + node.address  + '\nIP Address: ' + node.ipAddress]);
                }
            }
            displayData(networkMap);
        });
    }

    function initChart() {

        data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Parent');
        data.addColumn('string', 'ToolTip');

        chart = new google.visualization.OrgChart(document.getElementById('table_div'));
        options = {
            size: 'small',
            allowHtml: true
        };

        loadData();
        setInterval('loadData()', 15000);
    }
</script>
</body>
</html>